{% extends 'base.html.twig' %}

{% block title %}Tableau de Bord{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Tableau de Bord</h1>

    <div class="row">
        <!-- Informations de l'Utilisateur -->
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Informations de l'Utilisateur</h5>
                    <p class="card-text"><strong>Nom:</strong> {{ user.nom }}</p>
                    <p class="card-text"><strong>Prénom:</strong> {{ user.prenom }}</p>
                    <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
                    <p class="card-text"><strong>Genre:</strong>  {{ user.gender }}</p>
                    <p class="card-text"><strong>Date de Naissance:</strong> {{ user.birthDate }} </p>
                    <p class="card-text"><strong>Téléphone:</strong>  {{ user.phone }}</p>
                    <p class="card-text"><strong>Adresse:</strong> {{ user.address }} </p>
                    <p class="card-text"><strong>Code Postal:</strong> {{ user.postalCode }} </p>
                    <p class="card-text"><strong>Ville:</strong> {{ user.city}} </p>
                </div>
            </div>
        </div>

        <!-- Statistiques -->
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Statistiques</h5>
                           
                            <p class="card-text"><strong>Rôle:</strong> {{ role }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Activités Récentes</h5>
                            <p class="card-text">Vous avez modifié votre profil.</p>
                            <p class="card-text">Vous avez ajouté un nouveau commentaire.</p>
                            <p class="card-text">Vous avez aimé une publication.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Liens Utiles -->
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Liens Utiles</h5>
                    <a href="#" class="btn btn-primary btn-lg text-white mb-2">Modifier le Profil</a>
                    <a href="#" class="btn btn-secondary btn-lg text-white mb-2">Changer le Mot de Passe</a>
                    <a href="{{ path('app_logout') }}" class="btn btn-danger btn-lg text-white mb-2">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
