{% extends 'base.html.twig' %}

{% block title %}Contact - Tsarbucks{% endblock %}

{% block body %}
<section class="py-5 bg-light">
    <div class="container">
        <h1 class="text-center mb-4">Contactez-nous</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-md-8">
                {{ form_start(contactForm) }}
                    <div class="mb-3">
                        {{ form_label(contactForm.subject) }}
                        {{ form_widget(contactForm.subject) }}
                        {{ form_errors(contactForm.subject) }}
                    </div>
                    <div class="mb-3">
                        {{ form_label(contactForm.message) }}
                        {{ form_widget(contactForm.message) }}
                        {{ form_errors(contactForm.message) }}
                    </div>
                    <div class="text-center">
                        {{ form_widget(contactForm.send) }}
                    </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
