{% extends 'base.html.twig' %}

{% block title %}Nos salons{% endblock %}

{% block body %}
<section class="py-5 bg-light">
    <div class="container">
        <h2 class="text-center mb-4">Nos Salons de Cafés</h2>
        <div class="row d-flex flex-wrap">
            <!-- Tsarbucks Stalingrad -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.cruise-bordeaux.com%2Fwp-content%2Fuploads%2F2016%2F02%2FPlace-Stalingrad-Vincent-Bengold.jpg&f=1&nofb=1&ipt=aeea955d3599e24a30dc2ec52520383152665618be7f0f0231d670830b1787d5&ipo=images" class="card-img-top" alt="Tsarbucks Stalingrad">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Stalingrad</h5>
                        <p class="card-text">
                            Niché au cœur de Bordeaux, le Tsarbucks Stalingrad est l'endroit idéal pour revivre les grandes heures de la ville tout en savourant un café digne des plus grandes révolutions. Avec une ambiance inspirée des années glorieuses de l'URSS, notre café vous offre une expérience unique mêlant histoire et modernité.
                        </p>
                        <a href="{{path('app_stalingrad')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>

            <!-- Tsarbucks Catherine II -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.lequotidiendelart.com%2Fmedia%2Fcache%2Farticle_page_cover%2Fshared%2Farticle-image%2F1377.jpg&f=1&nofb=1&ipt=8960def0889c94161053c3b159a86d259c4f022e49d6935394edee95bd0c1147&ipo=images" class="card-img-top" alt="Tsarbucks Catherine II">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Catherine II</h5>
                        <p class="card-text">
                            Découvrez le Tsarbucks Catherine II, un hommage raffiné à l'une des tsarines les plus emblématiques de l'histoire russe. Situé rue de Moscou, à Paris, notre salon de café allie élégance impériale et confort moderne. Avec ses fauteuils luxueux et ses décors inspirés des palais de Saint-Pétersbourg, chaque visite est un voyage dans le temps. Savourez nos cafés artisanaux et pâtisseries dans une ambiance qui évoque la grandeur du règne de Catherine la Grande.
                        </p>
                        <a href="{{path('app_catherine')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>

            <!-- Tsarbucks Pierre Ier -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdni.rbth.com%2Frbthmedia%2Fimages%2F2020.01%2Foriginal%2F5e217c8985600a7aea614939.jpg&f=1&nofb=1&ipt=bb30f2224e331bf66260b3ca050d9134e5c7059e3fc003e9f75543b18f6bb1b0&ipo=images" class="card-img-top" alt="Tsarbucks Pierre Ier">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Pierre Ier</h5>
                        <p class="card-text">
                            Bienvenue au Tsarbucks Pierre Ier, un café où l'héritage de la grandeur russe rencontre le charme du sud de la France. Inspiré par Pierre le Grand, le tsar visionnaire qui a transformé la Russie en une puissance moderne, notre salon vous invite à une expérience de café inoubliable. Détendez-vous dans un cadre élégant qui rend hommage à l'ère des réformes et de la modernisation. Découvrez une sélection raffinée de cafés, de pâtisseries fraîches et de spécialités locales, tout en profitant d'une atmosphère accueillante et sophistiquée. Le Tsarbucks Pierre Ier est l'endroit idéal pour une pause café stimulante et inspirante.
                        </p>
                        <a href="{{path('app_pierre')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex flex-wrap">
            <!-- Tsarbucks Ivan le Terrible -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tripsavvy.com%2Fthmb%2F1m4BZ31TZXwtPpdC95MwfVGXSMc%3D%2F2108x1422%2Ffilters%3Afill(auto%2C1)%2FGettyImages-600201788-5c8e8a1bc9e77c00014a9d8c.jpg&f=1&nofb=1&ipt=8a96fbfde8348192c81621c0128ae383411a4ea88e4854788bb727f434561d1f&ipo=images" class="card-img-top" alt="Tsarbucks Ivan le Terrible">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Ivan le Terrible</h5>
                        <p class="card-text">
                            Plongez dans l'époque médiévale de la Russie au Tsarbucks Ivan le Terrible, situé au cœur de Saint-Pétersbourg. Inspiré par le premier tsar de Russie, ce salon vous accueille dans une atmosphère dramatique et mystique, où le café est servi avec une intensité digne des réformes d'Ivan IV. Explorez une sélection de boissons robustes et de plats traditionnels qui éveilleront vos sens.
                        </p>
                        <a href="{{path('app_ivan')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>

            <!-- Tsarbucks Anastasia Romanov -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fprefiroviajar.com.br%2Fwp-content%2Fuploads%2Fmoscow.jpg&f=1&nofb=1&ipt=82da0316045ecef1db38f6dc66f32284baf9f5bdee8149d9dae7dce1bfd0ce15&ipo=images" class="card-img-top" alt="Tsarbucks Anastasia Romanov">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Anastasia Romanov</h5>
                        <p class="card-text">
                            Découvrez le mystère et l'élégance au Tsarbucks Anastasia Romanov, un salon situé dans le prestigieux quartier des arts de Moscou. Inspiré par la légendaire grande-duchesse, ce café offre une ambiance féerique avec des touches de luxe impérial. Savourez des thés floraux et des pâtisseries raffinées tout en plongeant dans l'histoire fascinante de la famille Romanov.
                        </p>
                        <a href="{{path('app_anastasia')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>

            <!-- Tsarbucks Raspoutine -->
            <div class="col-md-4 d-flex">
                <div class="card mb-4 shadow-sm h-100 d-flex flex-column">
                    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fbesttraveltips.net%2Fwp-content%2Fuploads%2F2015%2F11%2FKazan_church_edit1.jpg&f=1&nofb=1&ipt=1c7b7e7f6b49283eeeb00504f8ae4c0a2bc41ba8ae65c1bee1e8f9af488606fa&ipo=images" class="card-img-top" alt="Tsarbucks Raspoutine">
                    <div class="card-body flex-grow-1">
                        <h5 class="card-title">Tsarbucks Raspoutine</h5>
                        <p class="card-text">
                            Entrez dans le monde mystérieux de Raspoutine au Tsarbucks Raspoutine, situé à Kazan. Ce salon de café mêle l'obscurité et l'ésotérisme, créant une atmosphère unique pour ceux qui cherchent une expérience hors du commun. Dégustez des infusions aux herbes rares, des liqueurs artisanales et des desserts riches qui évoquent l'aura énigmatique du conseiller légendaire des Romanov.
                        </p>
                        <a href="{{path('app_raspoutine')}}" class="btn btn-success mt-auto">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
